### Java ###
*.class
*.jar
*.war
*.ear

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

### Maven Wrapper ###
.mvn/
!/.mvn/wrapper/maven-wrapper.properties
!/.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

### Eclipse / STS ###
.project
.classpath
.settings/
.loadpath

### Logs and temp files ###
*.log
*.tmp
*.bak
*.swp

### OS files ###
.DS_Store
Thumbs.db

.factorypath
